<!DOCTYPE html>
<html lang="en">
<script src="/static/Javascript/audio.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Música</title>
</head>
<body>

    <form method="ger">
        {% for line in response %}
            <script type="text/javascript">reproduce("{{ line }}");</script>
            <!--<audio controls="controls" autoplay="autoplay" src="{{line}}"></audio>-->
        {% endfor %}
        <button type="submit">Click here</button>
    </form>
    <form action="/list_data" method="post">
        <input name="list" />
        <button type="submit">Add</button>
    </form>
    <form action="/create_list" method="get">
        <input name="list" />
        <input name="desc" />
        <button type="submit">Create</button>
    </form>
</body>
</html>